
/********************
* Full Site Section *
*********************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: minmax(250px, 300px) 3fr;
}

/************************
 * Side Content Section *
 ************************/

.sidebar{
    background-color:	#1e2124;
    color: #ffffff;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 200px repeat(10, 50px);
    justify-items:center;
    align-items: center;
}
.side-content{
    justify-self: start;
}
.icon{
    height:20px;
    width:30px;
}
.icon.dashboard{
    height:50px;
    width:50px;
}
.icon.settings{
    grid-area:9/1/10/2;
}
.side-content.settings{
    grid-area: 9/2/10/3;
}
.icon.support{
    grid-area: 10/1/11/2;
}
.side-content.support{
    grid-area:10/2/11/3;
}
.icon.privacy{
    grid-area: 11/1/12/2;
}
.side-content.privacy{
    grid-area:11/2/12/3;
}

/******************
 * Header Section *
 ******************/

.header{
    padding:15px 30px;
    grid-area:1/2/2/3;
    display: grid;
    background-color: #282b30;
    color:#ffffff;
    box-shadow: 0 10px 0 0 #1e2124;
}
.header-top, .header-bottom{
    display: flex;
    align-items: center;
    gap:20px;   
}
.welcome{
    flex:1;
}
.img{
    height:40px;
    width:40px;
    border-radius: 25px;
}
.img.big{
    height:75px;
    width:75px;
    border-radius: 50px;
}
 .search-bar{
    background-color: #8b8e8f;
    border-radius: 8px;
    border-width: 0px;
    max-width: 50%;
    flex:1;
    max-height:20px;
}
.search-bar:focus{
    border-color: #8b8e8f;
    outline: none !important;
    border-style: solid;
    border-width: 2px;
    color:#ffffff;  
}
button{
    background-color: #7289da;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px 20px;
    color:#ffffff;
}
.icon.bell{
    margin-left: auto;
}
.welcome.message{
    margin-bottom:5px;
}
.name.big{
    margin:0px;
}

/*************************
 * Your Projects Section *
 *************************/

.main-content{
    grid-area:2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #36393e;
    color:#e2e8f0;
    padding:20px;
}
.content-wrapper.projects{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 50px 3fr;
}
.card{
    border-radius:8px;
    display: grid;
    gap:10px;
    padding: 10px 20px;
    grid-template-rows: 1fr 5fr 1fr;
    border-left: 10px solid #7289da;
    background-color: #424549;
    box-shadow: 0 4px 8px 0 #1e2124;
}
.cards-wrapper{
    display:grid;
    gap:30px;   
    grid-template-columns:repeat(auto-fit, minmax(300px,.5fr));
    grid-auto-rows:max-content;
    padding-right:20px;
}
.card-header{
    margin:0px;
    align-self: flex-end;
    font-size: 14px;
}
.card-content{
    margin:0px;
    font-size: 12px;
}
.card-links{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
.content-header{
    padding:0px;
}

/************************
 * Announcement Section *
 ************************/

.content-wrapper.announcements{
    display: grid;
    grid-template-rows:50px max-content;
}
.announcement-card{
    background-color: #424549;
    border-radius: 8px;
    padding:25px;
    box-shadow: 0 4px 8px 0 #1e2124;
}
.announcement-header{
    margin:0px;
    font-size:13px;
    padding-top:5px;    
}
.announcement-content{
    font-size: 11px;;
}

/*******************
* Trending Section *
********************/

.content-wrapper.trending{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-rows:50px max-content;
}
.trending-card{
    background-color: #424549;
    border-radius: 8px;
    padding:25px;
    box-shadow: 0 4px 8px 0 #1e2124;
    display: grid;
    grid-template-columns: 50px 100fr;
    gap:15px;
}
.user-info{
    align-self: center;
}
.trending-username{
    font-size: 13px;
    margin:0px;
}
.trending-user-title{
    margin:0px;
    font-size: 11px;
}
